<!doctype html>
<html lang="">
  <head>
    <title>Test application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    {{ stylesheet_tag('app') | safe }}
  </head>
  <body>
    <div id="container" />
    {{ javascript_tag('app') | safe }}
  </body>
</html>
